<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read Users</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <h2>User Delete</h2>
        <% const user = dataUser; %>
        <form action="/delete/<%= user.id %>" method="post">
                <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>
                            <%= user.id %>
                        </td>
                        <td>
                            <%= user.email %>
                        </td>
                        <td>
                            <%= user.firstName + ' ' + user.lastName %>
                        </td>
                        <td>
                            <%= user.address %>
                        </td>
                        <td>
                            <%= user.phoneNumber %>
                        </td>
                    </tr>
            </tbody>
                </table>
            <input type="submit" value="Delete" >
        </form>
    </div>
</body>

</html>