<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read Users</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <h2>User Table</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% dataUser.forEach(user=> { %>
                    <tr>
                        <td>
                            <%= user.id %>
                        </td>
                        <td>
                            <%= user.email %>
                        </td>
                        <td>
                            <%= user.firstName + ' ' + user.lastName %>
                        </td>
                        <td>
                            <%= user.address %>
                        </td>
                        <td>
                            <%= user.phoneNumber %>
                        </td>
                        <td>

                            <a href="/updateUser/<%= user.id%>"> Update</a>
                            <a href="/deleteUser/<%= user.id%>"> Delete</a>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
</body>

</html>